<section class="section-panel header" layout="column" layout-align="center center">
    <div class="banner-title">
        <!-- <h1><span class="paint-alt">Empowering commuters</span> through the benefits of <span class="paint-alt">blockchain technology</span></h1> -->
        <div class="backer"><img src="../../assets/images/logo-backer.png"/></div>
        <div class="logo"><img src="../../assets/images/logo.png"/></div>
    </div>
</section>
<div class="padder-md"></div>
<section class="section-panel" layout="column" layout="center center">
    <div class="text-center">
        <h1 class="paint-primary text-bold">Whitelist is Open!</h1>
        <h2 class="paint-primary">Token sale starts soon...</h2>
        <md-button class="md-raised md-primary md-glow md-padded">
            View Sale Details
        </md-button>
    </div>
</section>
<div class="padder-md"></div>
<section class="section-panel halftone" layout="column" layout="center center">
    <div class="text-center" layout="column" layout="center center">
        <md-card class="special-card">
            <div class="card-head"></div>
            <md-card-title>
                <md-card-content>
                    <md-card-title-text>
                        <h1 class="paint-primary text-bold">What is Mobi?</h1>
                    </md-card-title-text>
                    <p>
                        Mobi is a carpooling mobile application available on both iOS and Android 
                        that connects drivers traveling to a certain destination with riders who 
                        are also traveling a similar way. The app includes integrated payment 
                        portals, a chat platform and peer-to-peer reviews to ensure a quality 
                        service for both the rider and also the driver. This allows drivers to 
                        offset their costs for the commute and provides a discounted fare for the riders.
                    </p>
                </md-card-content>
            </md-card-title>
        </md-card>
    </div>
    <div class="padder-lg"></div>
    <div layout="column" layout-xs="column" layout="center center">
        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img class="bubble-image" src="../../assets/images/plan-route.png" 
                        alt="Image of map with routes plotted" width="200"/>
                    </div>
                </md-card-title-media>
                
                <md-card-content>
                    <md-card-title-text>
                        <span class="md-headline paint-primary">Pick a route</span>
                    </md-card-title-text>
                    <p class="bubble-comment">
                        Simply enter your starting location and your destination. Then enter your desired
                        pick up time and select the days you want to comute. That's right, Mobi helps plan
                        your whole week!
                    </p>
                </md-card-content>
            </md-card-title>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img class="bubble-image" src="../../assets/images/pick-commuter.png" 
                        alt="Image of man driving car"/>
                    </div>
                </md-card-title-media>
                <md-card-content>
                    <md-card-title-text>
                        <span class="md-headline paint-primary">Choose a commuter</span>
                    </md-card-title-text>
                    <p class="bubble-comment">
                        Choose the person you want to travel with! Mobi allows you to select the 
                        person you want to commute with by offering everyone who is heading in 
                        that direction. 
                    </p>
                </md-card-content>
            </md-card-title>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img class="bubble-image" src="../../assets/images/chat-first.png" 
                        alt="Image of person holding phone" width="200"/>
                    </div>
                </md-card-title-media>
                
                <md-card-content>
                    <md-card-title-text>
                        <span class="md-headline paint-primary">Chat before you ride</span>
                    </md-card-title-text>
                    <p class="bubble-comment">
                            You can chat with your fellow commuter before the ride if you need to let 
                            them know something or just want to get to know them!
                    </p>
                </md-card-content>
            </md-card-title>
        </md-card>
    </div>
</section>
<section class="feature-panel" layout="column" layout="center center">
    <div class="text-center">
        <h2>Want to know more about Mobi?</h2>
        <p>Check out the Mobi website</p>
        <md-button class="md-raised md-primary">
            Mobi Website
        </md-button>
    </div>
</section>
<div class="padder-lg"></div>
<section class="section-panel" layout="column" layout="center center">
    <div class="text-center" layout="column" layout="center center">
        <h1>What is Mobi Token?</h1>
        <h2>And what benefit does it provide?</h2>
        <p>
            The Mobi Token is an ERC20 token that will integrate into our rideshare application, 
            providing a number of important features.
        </p>
    </div>
    <br/>
    <div class="padder-md"></div>
    <br/>
    <div class="text-center" layout="row" layout-xs="column" layout-align="center center">
        <div flex-gt-xs="50">
            <span class="paint-primary">
                <i class="far fa-money-bill-alt fa-4x"></i>
            </span>
            <h3 class="bubble-heading">Reduced Fees</h3>
            <p class="bubble-comment">
                Removing the need for 3rd party payment gateways means that transaction fees 
                will be much more affordable for everday commuters! 
            </p>
        </div>
        <div flex-gt-xs="50">
            <span class="paint-primary">
                <i class="fas fa-handshake fa-4x"></i>
            </span>            
            <h3 class="bubble-heading">Trustless Payments and Dispute Mediation</h3>
            <p class="bubble-comment">
                Smart contracts will remove the need for 3rd party confirmation. 
                Dispute mediation will allow appropriate outcomes for disputes between parties.
            </p>
        </div>
    </div>
    <br/>
    <div class="padder-md"></div>
    <br/>
    <div class="text-center" layout="row" layout-xs="column" layout-align="center center">
            <div flex-gt-xs="50">
                <span class="paint-primary">
                    <i class="fas fa-th fa-4x"></i>
                </span>
                <h3 class="bubble-heading">Cross Platform Incentives</h3>
                <p class="bubble-comment">
                    Blockchain technology will allow users paying with Mobi coin a 0% service fee 
                    using the app. There is also a welcome reward, referral reward and transaction reward 
                    system which are explained in detail in our whitepaper.
                </p>
            </div>
            <div flex-gt-xs="50">
                <span class="paint-primary">
                    <i class="fab fa-slideshare fa-4x"></i>
                </span>
                <h3 class="bubble-heading">Transparency of Information</h3>
                <p class="bubble-comment">
                    Removing the need for a central party elminates the risk of data manipulation. 
                    Mobi will leverage blockchain technology to operate a rating and review system 
                    for drivers which cannot be tampered with and is therefore 100% trust worthy.
                </p>
            </div>
        </div>
</section>
<div class="padder-lg"></div>
<section class="section-panel" layout="column" layout="center center">
    <div class="no-padding" layout="column" layout="center center">
        <div class="text-center">
            <h1>Token Sale</h1>
            <h2>Everything you need to know</h2>
        </div>
        <div class="text-center chart-container">
            <canvas class="chart chart-pie" 
                chart-data="vm.chart.data" 
                chart-labels="vm.chart.labels"
                chart-options="vm.chart.options" height="250">
            </canvas> 
        </div>
    </div>    
</section>
<div class="padder-lg"></div>
<section class="section-panel" layout="column" layout="center center">
    <div class="text-center" layout="column" layout="center center">
        <h1>Roadmap</h1>
        <h2>Where we've been and where we are going</h2>
    </div>
    <div class="text-center" layout="column" layout="center center">

    </div>
</section>
<div class="padder-lg"></div>
<section class="section-panel" layout="column" layout="center center">
    <div class="text-center" layout="column" layout="center center">
        <h1>Team</h1>
        <h2>Committed to delivering</h2>
    </div>
    <div class="text-center" layout="column" layout="center center">
        <div ng-repeat="member in vm.team">
            <span>
                <img class="bubble-image" ng-src="member.portrait" 
                    alt="Portait photo of {{member.name}}" width="200"/>
            </span>
            <h3 class="bubble-heading" ng-bind="member.name"></h3>
            <h4 class="bubble-subheading" ng-bind="member.role"></h4>
            <p class="bubble-comment" ng-bind="member.description"></p>
            <div class="bubble-link" ng-repeat="link in member.links">
                <a ng-href="link.address">
                    <i ng-class="link.icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>